body{
    text-align: center;
    margin-bottom:auto;
    margin-top:50px;
    }

.button1 {
  text-align: center;
  outline:none;
  margin-top:2%;
  margin-right:25px;
  background-color:white;
  border:20px;
  border-radius:15px;
  border color:cyan;
  }

.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,64, 224, 208),0 17px 50px 0 rgba(0,64, 224, 208);
}
.button2{
text-align: center;
  outline:none;
  color: yellow;
  margin-bottom:25px;
  background-color:white;
  border:20px;
  position:relative;
  border-radius:15px;
}
.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,64, 224, 208),0 17px 50px 0 rgba(0,64, 224, 208);
}
#home{
background-color:blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-color:black;
  font-size:15px;
  cursor: pointer;
  border-radius:15px;
  position: absolute;
  border color:cyan;
  top:0;
  left:0;
}
#home:hover {
  box-shadow: 0 12px 16px 0 rgba(0,64, 224, 208),0 17px 50px 0 rgba(0,64, 224, 208);
}
