<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Madras Coffee</title>
    <link rel="stylesheet"  href="../static/css/third_page.css">
</head>
<body>
    <div class="side_nav" id="sidebar">
        <form action="\">
            <button id="home">Home</button>
        </form>
        <form action="/cafe3">
            <h3> <a href="third_page.html"> <b>Juice World</b></a></h3>
            <ul>
                <li> <a href="third_page.html">Apple </a></li>
                <li><a href="third_page.html">Orange </a></li>
                <li><a href="third_page.html">Watermelon </a></li>
                <li><a href="third_page.html">Fig </a></li>
                <li><a href="third_page.html">Lemon </a></li>
                <li><a href="third_page.html">Grapes </a></li>
                <li><a href="third_page.html">Pineapple </a></li>
                <li><a href="third_page.html">Kiwi </a></li>
                <li><a href="third_page.html">Strawberry </a></li>
                <li><a href="third_page.html">Strawberry Milkshake </a></li>
                <li><a href="third_page.html">Banana Milkshake </a></li>
            </ul>
        </form>
    </div>

    <div style="margin-left:15%">
        <div class="sub_page"> <h2> Madras Coffee</h2></div>
            <div class="card" style="margin-left:8%">
                <img class="image" src="../static/assets/images/tea (1).jpeg" alt="Tea" >
                <p><input  onclick="myFunction()" type="button" class="btn" value="Tea"></p>

            </div>
            <div  class="card">
                 <img class="image" src="../static/assets/images/coffee.jpeg" alt="Coffee">
                 <p><input  onclick="myFunction()" type="button" class="btn" value="Coffee"></p>
            </div>

            <div  class="card">
                <img class="image" src="../static/assets/images/blacktea (1).jpeg" alt="Black Tea"  >
                <p><input  onclick="myFunction()" type="button" class="btn" value="Black Tea"></p>
            </div>
            <div  class="card"  style="margin-left:8%">
                 <img class="image" src="../static/assets/images/Gingertea (1).jpg" alt="GingerTea" >
                <p><input  onclick="myFunction()" type="button" class="btn" value="Ginger Tea"></p>
            </div>
            <div  class="card">
                 <img class="image" src="../static/assets/images/Green tea (1).jpeg" alt="Green Tea" >
                 <p><input  onclick="myFunction()" type="button" class="btn" value="Green Tea"></p>
            </div>
            <div  class="card">
                 <img class="image" src="../static/assets/images/horlicks .jpeg" alt="Horlics" >
                 <p><input  onclick="myFunction()" type="button" class="btn" value="Horlics"></p>
            </div>
        <!--<div class="side_nav_right "  style="margin-left:80%">-->
                <!--<h1><b>Cart</b></h1>-->
            <!--<h3><b>Items</b></h3>-->
            <!--Item 1:  <input type="text" id="myText" value=" ">-->
        <!--</div>-->
    </div>
<script>
<!--<p><input  onclick="myFunction()" type="button" class="btn" value="Tea"></p>-->
                <!--<button onclick="myFunction1()">-</button>-->
                <!--<input type="number" id="myNumber">-->
                <!--<button onclick="myFunction()">+</button>-->

<!--function myFunction() {-->
  <!--document.getElementById("myNumber").stepUp();-->
<!--}-->
<!--function myFunction1() {-->
  <!--document.getElementById("myNumber").stepDown();-->
<!--}-->

    var buttons = document.getElementsByClassName('btn');
               for (var i=0 ; i < buttons.length ; i++){
                 (function(index){
                   buttons[index].onclick = function(){
                    var x = document.createElement("textArea");
                    var y = buttons[index].value;
                    var t = document.createTextNode(y);
                    x.append(t);
                    document.body.append(x);
                    var b = document.createElement("INPUT");
                    b.setAttribute("type", "number");
                    b.setAttribute("value", "1");
                  };
                  })(i)
               }
    </script>
</body>
</html>

