<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div><img class="image1" src="../jpeg/apple juice (1).jpeg" alt="apple juice">
            <p><input type="button"  id="button1" onclick="function()" value="Apple"></p>
        </div>
            <h1><b>Cart</b></h1>
        <h3><b>Items</b></h3>
        Item 1:<input type="text" id="myText" value=" ">
        </div>
 <script>
            function function():
           {
           var x = document.getElementById("button1").value;
           document.getElementById("myText").value= x;
        </script>

</body>
</html>