<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cafe_Application</title>
    <link rel="stylesheet" href="../static/css/second_page.css">
</head>
<body>
    <form action="/">
        <button id="home">Home</button>
    </form>

    <form action="/cafe2">
        <button class="button1">
        <img src="../static/assets/images/madrascafe.jpeg" alt="Hot_Beverage" width="300" height="300"></button>
    </form>

    <form action="/cafe3" >
        <button class="button2">
        <img src="../static/assets/images/juices_main.page.jpeg" alt="Cold_Beverage" width="300" height="300"></button>
    </form>
</body>
</html>