<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Juice World</title>
    <link rel="stylesheet"  href="../static/css/third_page.css">
</head>
<body>
    <div class="side_nav" id="sidebar">
        <form action="\">
            <button id="home">Home</button>
        </form>
        <form action="/cafe2">
            <h3> <a href="third_page_mc.html"> <b>Madras Coffee</b></a></h3>
                <ul>
                    <li> <a href="third_page_mc.html">Tea</a></li>
                    <li><a href="third_page_mc.html">Coffee</a></li>
                    <li><a href="third_page_mc.html">Green Tea</a></li>
                    <li><a href="third_page_mc.html">Ginger Tea </a></li>
                    <li><a href="third_page_mc.html">Black Tea</a></li>
                    <li><a href="third_page_mc.html">Horlicks</a></li>
                </ul>
        </form>
    </div>
    <div style="margin-left:3%">
        <div class="sub_page"> <h2> Juice World</h2></div>
            <div class="card" style="margin-left:20%">
                <img class="image1" src="../static/assets/images/apple juice (1).jpeg" alt="apple juice">
                <p><input type="button"  value="Apple" class="btn"></p>
            </div>
            <div  class="card">
                <img class="image1" src="../static/assets/images/orange_juice (1).jpeg" alt="Orange" >
                <p><input type="button"  value="orange" class="btn"></p>
            </div>
            <div  class="card">
                 <img class="image1" src="../static/assets/images/carrot juice.jpeg" alt="CARROT ">
                 <p><input  type="button" value="Carrot" class="btn"></p>
            </div>
                 <div class="card" style="margin-left:20%">
                <img  class="image1" src="../static/assets/images/SB_hd.jpeg" alt="Strawberry_juice">
                <p><input   type="button" value="Strawberry juice" class="btn"></p>
            </div>
            <div  class="card">
                 <img class="image1" src="../static/assets/images/grapejuice (1).jpeg" alt="Grape" >
                 <p><input   type="button" value="Grapes" class="btn"></p>
            </div>
            <div  class="card">
                <img class="image1" src="../static/assets/images/fig juice (1).jpeg" alt="Fig">
                <p><input   type="button" value="Fig" class="btn"></p>
            </div>
            <div  class="card" style="margin-left:20%"  >
                 <img class="image1" src="../static/assets/images/pineapple juice.jpeg" alt="Pineapple ">
                <p><input   type="button" value="Pineapple" class="btn"></p>
            </div>
            <div  class="card">
                 <img class="image1" src="../static/assets/images/lemon juice (1).jpeg" alt="Lemon"  >
                <p><input   type="button" value="Lemon" class="btn"></p>
            </div>
            <div  class="card">
                <img class="image1" src="../static/assets/images/kiwi (1).jpeg" alt="Kiwi"  >
                <p><input   type="button" value="Kiwi" class="btn"></p>
            </div>
            <div  class="card" style="margin-left:20%" >
                 <img class="image1" src="../static/assets/images/Strawberry milkshake11 (1).jpeg" alt="SB Milkshake"  >
                <p><input   type="button" value="Strawberry Milkshake" class="btn"></p>
            </div>
            <div  class="card">
                 <img class="image1" src="../static/assets/images/banana milkshake (1).jpeg" alt="Banana Milkshake"  >
                <p><input   type="button" value="Banana Milkshake" class="btn"></p>
            </div>
            <!--<div class="side_nav_right "  style="margin-left:81%">-->
                <!--<h1><b>Cart</b></h1>-->
                <!--<h3><b>Items</b></h3>-->
            <!--</div>-->
    </div>
        <script>
         var buttons = document.getElementsByClassName('btn');
               for (var i=0 ; i < buttons.length ; i++){
                 (function(index){
                   buttons[index].onclick = function(){
                    var x = document.createElement("textArea");
                    var y = buttons[index].value;
                    var t = document.createTextNode(y);
                    x.append(t);
                    document.body.append(x);
                   };
                 })(i)
               }
           </script>
    </body>
    </html>
<!--<checkout>-->
    <!--<input type="button" id="btn" onclick="myFunction()" value="Try it">-->

<!--<script>-->
<!--function myFunction() {-->
  <!--var x = document.createElement("TEXTAREA");-->
  <!--var y = document.getElementById("btn").value-->
  <!--var t = document.createTextNode(y);-->
  <!--x.appendChild(t);-->
  <!--document.body.appendChild(x);-->
<!--}-->
<!--</checkout>-->
