<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cart</title>
</head>
<body style="align:center">
<h1>cart</h1>
<form action="/post-data" method="post">
 employee_id:<input type="text" name="employee_id" >
 cart_items:<input type="text"  name="cart_items">
  <div id="submit-button"><input type="submit" name="Enter"/></div>
</form>
</body>
</html>



<!--<input type="button" id="myBtn" onclick="myFunction()" value="Try it">-->

<!--<input type="text" id="demo">-->

<!--<script>-->
<!--function myFunction() {-->
  <!--var x = document.getElementById("myBtn").value;-->
  <!--document.getElementById("demo").value = x;-->
<!--}-->
<!--</script>-->

<!--</body>-->
<!--</html>-->
