<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  href="../style/third_page.css">
</head>
<body>

<div class="side_nav" id="sidebar">
    <form action="first_page.html">
<button id="home">Home
</button>
</form>

    <h3> <a href="third_page.html"> <b>Juice World</b></a></h3>
    <ul>
        <li> <a href="third_page.html">Apple </a></li>
        <li><a href="third_page.html">Orange </a></li>
        <li><a href="third_page.html">Watermelon </a></li>
        <li><a href="third_page.html">Fig </a></li>
        <li><a href="third_page.html">Lemon </a></li>
        <li><a href="third_page.html">Grapes </a></li>
        <li><a href="third_page.html">Pineapple </a></li>
        <li><a href="third_page.html">Kiwi </a></li>
        <li><a href="third_page.html">Strawberry </a></li>
        <li><a href="third_page.html">Strawberry Milkshake </a></li>
        <li><a href="third_page.html">Banana Milkshake </a></li>
    </ul>
</div>

<div style="margin-left:15%">
    <div class="sub_page"> <h2> Madras Coffee</h2></div>


        <div class="card" style="margin-left:8%">
            <img class="image" src="../Images/tea (1).jpeg" alt="Tea" >
            <p><input type="button" class="button" value="Tea"></p>
        </div>
        <div  class="card">
             <img class="image" src="../Images/coffee.jpeg" alt="Coffee">
             <p><input type="button" class="button" value="coffee"></p>
        </div>

        <div  class="card">
            <img class="image" src="../Images/blacktea (1).jpeg" alt="Black Tea"  >
            <p><input type="button" class="button" value="Black Tea"></p>
        </div>
        <div  class="card"  style="margin-left:8%">
             <img class="image" src="../Images/Gingertea (1).jpg" alt="GingerTea" >
            <p><input type="button" class="button " value="Ginger Tea"></p>
        </div>
        <div  class="card">
             <img class="image" src="../Images/Green tea (1).jpeg" alt="Green Tea" >
             <p><input type="button" class="button " value="Green Tea"></p>
        </div>
        <div  class="card">
             <img class="image" src="../Images/horlicks .jpeg" alt="Horlics" >
             <p><input type="button" class="button " value="Horlicks"></p>
        </div>


        <div class="side_nav_right "  style="margin-left:80%">
            <h1><b>Cart</b></h1>
        <h3><b>Items</b></h3>
        Item 1:  <input type="text" id="myText" value=" ">

        </div>
</div>
</body>
</html>

