<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  href="../style/third_page.css">
</head>
<body>

<div class="side_nav" id="sidebar">
    <form action="first_page.html">
<button id="home">Home
</button>
</form>

    <h3> <a href="third_page_mc.html"> <b>Madras Coffee</b></a></h3>
    <ul>
        <li> <a href="third_page_mc.html">Tea</a></li>
        <li><a href="third_page_mc.html">Coffee</a></li>
        <li><a href="third_page_mc.html">Green Tea</a></li>
        <li><a href="third_page_mc.html">Ginger Tea </a></li>
        <li><a href="third_page_mc.html">Black Tea</a></li>
        <li><a href="third_page_mc.html">Horlicks</a></li>
    </ul>
</div>
<div style="margin-left:3%">
    <div class="sub_page"> <h2> Juice World</h2></div>
        <div class="card" style="margin-left:20%">
            <img class="image1" src="../Images/apple juice (1).jpeg" alt="apple juice">
            <p><input  onclick="myFunction()" type="button" id="btn" value="Apple"></p>
        </div>
    <div  class="card">
            <img class="image1" src="../Images/orange_juice (1).jpeg" alt="Orange" >
            <p><input type="button" id="btn" onclick="myFunction()" value="orange"></p>
        </div>
        <div  class="card">
             <img class="image1" src="../Images/carrot juice.jpeg" alt="CARROT ">
             <p><input id="btn" onclick="myFunction()" type="button" value="Carrot"></p>
        </div>
             <div class="card" style="margin-left:20%">
            <img  class="image1" src="../Images/SB_hd.jpeg" alt="Strawberry_juice">
            <p><input id="btn" onclick="myFunction()" type="button" value="Strawberry juice"></p>
        </div>
        <div  class="card">
             <img class="image1" src="../Images/grapejuice (1).jpeg" alt="Grape" >
             <p><input id="btn" onclick="myFunction()" type="button" value="Grapes"></p>
        </div>
        <div  class="card">
            <img class="image1" src="../Images/fig juice (1).jpeg" alt="Fig">
            <p><input id="btn" onclick="myFunction()" type="button" value="Fig"></p>
        </div>
        <div  class="card" style="margin-left:20%"  >
             <img class="image1" src="../Images/pineapple juice.jpeg" alt="Pineapple ">
            <p><input id="btn" onclick="myFunction()" type="button" value="Pineapple"></p>
        </div>
        <div  class="card">
             <img class="image1" src="../Images/lemon juice (1).jpeg" alt="Lemon"  >
            <p><input id="btn" onclick="myFunction()" type="button" value="Lemon"></p>
        </div>
        <div  class="card">
            <img class="image1" src="../Images/kiwi (1).jpeg" alt="Kiwi"  >
            <p><input id="btn" onclick="myFunction()" type="button" value="Kiwi"></p>
        </div>
        <div  class="card" style="margin-left:20%" >
             <img class="image1" src="../Images/Strawberry milkshake11 (1).jpeg" alt="SB Milkshake"  >
            <p><input id="btn" onclick="myFunction()" type="button" value="Strawberry Milkshake"></p>
        </div>
        <div  class="card">
             <img class="image1" src="../Images/banana milkshake (1).jpeg" alt="Banana Milkshake"  >
            <p><input id="btn" onclick="myFunction()" type="button" value="Banana Milkshake"></p>
        </div>
        <div class="side_nav_right "  style="margin-left:81%">
            <h1><b>Cart</b></h1>
        <h3><b>Items</b></h3>


<script>
function myFunction() {
  var x = document.createElement("textArea");
  var y = document.getElementById("btn").value;
  var t = document.createTextNode(y);
  x.append(t);
  document.body.append(x);
}
</script>
</div>
</div>
</body>
</html>
<!--<checkout>-->
    <!--<input type="button" id="btn" onclick="myFunction()" value="Try it">-->

<!--<script>-->
<!--function myFunction() {-->
  <!--var x = document.createElement("TEXTAREA");-->
  <!--var y = document.getElementById("btn").value-->
  <!--var t = document.createTextNode(y);-->
  <!--x.appendChild(t);-->
  <!--document.body.appendChild(x);-->
<!--}-->
<!--</checkout>-->
